body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* */
#transparentNav {
    background-color: rgb(236 21 21 / 0.96) !IMPORTANT;
    color: #9FFF1C!important;
    font-size: x-large !important;
}

.greentext {
    color: #9FFF1C !important;
}

#nopadding {
    border-color: #9FFF1C !important;
    font-size: large !important;
    padding: 0 !important;
}

#nopadding:hover {
    color: whitesmoke !important;
    border-color: #9FFF1C !important;
    background-color: rgb(98 98 98 / 0.4) !IMPORTANT;
}

#check-box {
    width: 2rem !IMPORTANT;
    height: 2rem !IMPORTANT;
}