@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: rgb(14 14 14)">
    <h1 class="display-1" style="color: #9FFF1C ">ClimbingCommunity</h1>
    <p class="lead" style="color: whitesmoke">ClimbingCommunity is an app for climbers to interact with climbing gyms by logging their sends publicly or privately, giving each route a description of how it felt to climb, a suggested grade of difficulty, and a video or photo of your send.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. Register</h2>
        <p>
            Register with an email and a password.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>2. Add profile details</h2>
        <p>Finish creating your account by making a username, bio, and selecting a home gym. You will need to do this in order to log sends.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>3. Send some routes</h2>
        <p>Log some sends of routes from any gym in our app.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>