@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: rgb(14 14 14)">
    <h1 class="display-1" style="color: #9FFF1C ">ClimbingCommunity</h1>
    <p class="lead" style="color: whitesmoke">ClimbingCommunity is an app for climbers to interact with climbing gyms by logging their sends publicly, giving each route a description of how it felt to climb, a suggested grade of difficulty, and a video or photo of your send. This app not only gives valuable information to the climbers on their sends, but also provides gym owners with an idea of how popular each route is and what they should set next.</p>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>1. Register</h2>
        <p>
            Register with an email and a password.
        </p>
    </div>
    <div class="col-md-4">
        <h2>2. Add profile details</h2>
        <p>Finish creating your account by making a username, bio, and selecting a home gym. You will need to do this in order to log sends.</p>
    </div>
    <div class="col-md-4">
        <h2>3. Send some routes</h2>
        <p>Log some sends of routes from any gym in our app.</p>
        
    </div>
</div>